[package]
name = "qos_core"
version = "0.1.0"
edition = "2021"

[dependencies]
qos_crypto = { path = "../qos_crypto" }
qos_hex = { path = "../qos_hex" }
qos_p256 = { path = "../qos_p256" }

nix = { version = "0.26.2", features = ["socket"], default-features = false }
borsh = { version = "0.10" }

# For AWS Nitro
aws-nitro-enclaves-nsm-api = { version = "0.2.1", default-features = false }
serde_bytes = { version = "0.11", default-features = false }

[dev-dependencies]
qos_test_primitives = { path = "../qos_test_primitives" }
qos_p256 = { path = "../qos_p256", features = ["mock"] }

[features]
# Support for VSOCK
vm = []
# Never use in production - support for mock NSM
mock = []
