out/*
cache/*
.*
src/init/target
src/*/cache
.DS_Store
.vscode
target/

*.sock
*.key
*.pivot
*.secret
*.configuration
*.share
.toolchain

# Mock data
!src/integration/mock/boot-e2e/all-personal-dir/user1-dir/*
!src/integration/mock/boot-e2e/all-personal-dir/user2-dir/*
!src/integration/mock/boot-e2e/all-personal-dir/user3-dir/*
!src/integration/mock/boot-e2e/genesis-dir/*
src/integration/mock/pivot-build-fingerprints.txt
src/integration/pivot_ok2_works
src/integration/pivot_ok_works
src/integration/pivot_ok3_works

local-enclave/ls

fetch/aws-nitro-enclaves-sdk-bootstrap/
fetch/openssl/
fetch/pcsc/
fetch/rust/

!.github
!.lfsconfig