[package]
name = "qos_enclave"
version = "1.2.0"
authors = [""]
edition = "2018"
rust-version = "1.61"
publish = false

[dependencies]
nitro-cli = { git = "https://github.com/aws/aws-nitro-enclaves-cli", version = "1.4.0" }
libc = "0.2.149"

[features]
default = []
