[package]
name = "qos_nsm"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
qos_hex = { path = "../qos_hex" }
borsh = { version = "1.0", features = ["derive"] }
aws-nitro-enclaves-nsm-api = { version = "0.3", features = ["nix"], default-features = false }
aws-nitro-enclaves-cose = { version = "0.5", default-features = false }
sha2 = { version = "0.10", default-features = false }
webpki = { version =  "0.22.4", default-features = false }
serde_bytes = { version = "0.11", default-features = false }
p384 = { version = "0.12", features = ["sha384", "ecdsa", "ecdsa-core", "std"], default-features = false }
x509-cert = { version = "=0.1.0", features = ["pem"], default-features = false }

[dev-dependencies]
hex-literal = "0.4"
rand = "0.8"
qos_core = { path = "../qos_core", features = ["mock"] }

[features]
# Never use in production - support for mock NSM
mock = []
mock_realtime = []