[package]
name = "integration"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
qos_core = { path = "../qos_core", features = ["mock"], default-features = false }
qos_nsm = { path = "../qos_nsm", features = ["mock"], default-features = false }
qos_host = { path = "../qos_host", default-features = false }
qos_client = { path = "../qos_client", default-features = false }
qos_crypto = { path = "../qos_crypto" }
qos_attest = { path = "../qos_attest", default-features = false }
qos_hex = { path = "../qos_hex" }
qos_p256 = { path = "../qos_p256", features = ["mock"] }
qos_test_primitives = { path = "../qos_test_primitives" }

tokio = { version = "1.18", features = ["macros", "rt-multi-thread"], default-features = false }

[dev-dependencies]
qos_core = { path = "../qos_core", features = ["mock"], default-features = false }
borsh = { version = "0.9" }
aws-nitro-enclaves-nsm-api = { version = "0.2.1", default-features = false }
rand = "0.8"
