name: artifacts-build

on:
  push:
    tags:
      - v*.*.*
    branches:
      - main
  pull_request:
  workflow_dispatch: # Allows manual invocation

jobs:
  # This job pre-warms the cache with toolchain
  toolchain-cache:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout sources
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          submodules: true

      - name: Cache
        id: cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          lookup-only: true
          key: toolchain-${{ hashFiles('config/apt-hashes-x86_64.list') }}
          path: cache/toolchain.tar

      - name: Setup Checkout
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get install -y git-lfs
          git lfs fetch --include "fetch/apt/*"
          git lfs checkout

      - name: Run `make toolchain`
        if: steps.cache.outputs.cache-hit != 'true'
        shell: 'script -q -e -c "bash {0}"'
        run: |
          make cache/toolchain.tar

  # This job pre-warms the cache for rust
  rust-cache:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout sources
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          submodules: true

      - name: Cache
        id: cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          lookup-only: true
          key: toolchain-rust-${{ hashFiles('Makefile','config/make.env') }}
          path: cache/aws/x86_64/src/rust/build/x86_64-unknown-linux-gnu/stage0-sysroot

      - name: Setup Checkout
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get install -y git-lfs
          git lfs fetch --include "fetch" --exclude "fetch/apt,dist"
          git lfs fetch --include "fetch/apt/Packages.bz2"
          git lfs checkout

      # make (and hence toolchain) rely on file timestamps
      - name: git-restore-mtime
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get install -qq -y git-restore-mtime
          git restore-mtime
          git submodule foreach 'git restore-mtime'

      - name: Pull toolchain from cache
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          fail-on-cache-miss: true
          key: toolchain-${{ hashFiles('config/apt-hashes-x86_64.list') }}
          path: cache/toolchain.tar

      - name: Complete the setup of toolchain
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          make toolchain

      - name: Run `make cache/aws/x86_64/src/rust/build/x86_64-unknown-linux-gnu/stage0-sysroot`
        if: steps.cache.outputs.cache-hit != 'true'
        shell: 'script -q -e -c "bash {0}"'
        run: |
          make cache/aws/x86_64/src/rust/build/x86_64-unknown-linux-gnu/stage0-sysroot

  build:
    name: Build Toolchain Artifacts
    runs-on: ubuntu-latest
    needs:
      - toolchain-cache
      - rust-cache
    strategy:
      matrix:
        include:
          - target: qos_host.oci.x86_64.tar
          - target: qos_enclave.oci.x86_64.tar
          - target: qos_client.oci.x86_64.tar
    timeout-minutes: 50
    steps:
      - name: Checkout sources
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Checkout
        run: |
          sudo apt-get install -y git-lfs
          git lfs fetch --include "fetch" --exclude "fetch/apt,dist"
          git lfs fetch --include "fetch/apt/Packages.bz2"
          git lfs checkout

      # make (and hence toolchain) rely on file timestamps
      - name: git-restore-mtime
        run: |
          sudo apt-get install -qq -y git-restore-mtime
          git restore-mtime
          git submodule foreach 'git restore-mtime'

      - name: Pull toolchain from cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          fail-on-cache-miss: true
          key: toolchain-${{ hashFiles('config/apt-hashes-x86_64.list') }}
          path: cache/toolchain.tar

      - name: Complete the setup of toolchain
        run: |
          make toolchain

      - name: Pull rust from cache
        uses: actions/cache@704facf57e6136b1bc63b828d79edcd491f0ee84 # v3.3.2
        with:
          fail-on-cache-miss: true
          key: toolchain-rust-${{ hashFiles('Makefile','config/make.env') }}
          path: cache/aws/x86_64/src/rust/build/x86_64-unknown-linux-gnu/stage0-sysroot

      - name: Ensure rust cache is ignored by make
        run: |
          touch --date=@0 cache/aws/x86_64/src/rust

      - name: Run `make out/${{ matrix.target }}`
        shell: 'script -q -e -c "bash {0}"'
        run: |
          make -d --assume-old=cache/aws/x86_64/src/rust out/${{ matrix.target }}

      - uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3.1.3
        with:
          name: ${{ matrix.target }}
          path: out/${{ matrix.target }}
          retention-days: 1

  upload_to_ecr:
    name: Upload toolchain artifacts to ECR
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@8c3f20df09ac63af7b3ae3d7c91f105f857d8497 # v4.0.0
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::799078726966:role/github-qos

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@2fc7aceee09e9e4a7105c0d060c656fad0b4f63d # v1.7.0

      - name: Download Artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2

      - name: Upload images to ECR
        env:
          images: >-
            qos_client
            qos_enclave
            qos_host
          tags: >-
            ${{ github.ref == format('refs/heads/{0}', 'main') && 'latest' || '' }}
            ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || '' }}
            ${{ github.event_name == 'push' && github.ref_name || '' }}
        run: |
          skopeo login \
            --username "${{ steps.login-ecr.outputs.docker_username_799078726966_dkr_ecr_us_east_1_amazonaws_com }}" \
            --password "${{ steps.login-ecr.outputs.docker_password_799078726966_dkr_ecr_us_east_1_amazonaws_com }}" \
            ${{ steps.login-ecr.outputs.registry }}
          for image in ${images}; do
            skopeo copy --all \
              "oci-archive:./${image}.oci.x86_64.tar/${image}.oci.x86_64.tar" \
              "docker://${{ steps.login-ecr.outputs.registry }}/tkhq/${image}:sha-${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
            for tag in ${tags}; do
              skopeo copy --all \
                "docker://${{ steps.login-ecr.outputs.registry }}/tkhq/${image}:sha-${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}" \
                "docker://${{ steps.login-ecr.outputs.registry }}/tkhq/${image}:${tag}"
            done
          done

  upload_to_ghcr:
    name: Upload toolchain artifacts to GHCR
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
      - name: Upload images to GHCR
        env:
          images: >-
            qos_client
            qos_enclave
            qos_host
          tags: >-
            ${{ github.ref == format('refs/heads/{0}', 'main') && 'latest' || '' }}
            ${{ github.event_name == 'pull_request' && format('pr-{0}', github.event.number) || '' }}
            ${{ github.event_name == 'push' && github.ref_name || '' }}
        run: |
          skopeo login \
            --username "${{ github.actor }}" \
            --password "${{ secrets.GITHUB_TOKEN }}" \
            ghcr.io
          for image in ${images}; do
            skopeo copy --all \
              "oci-archive:./${image}.oci.x86_64.tar/${image}.oci.x86_64.tar" \
              "docker://ghcr.io/tkhq/${image}:sha-${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}"
            for tag in ${tags}; do
              skopeo copy --all \
                "docker://ghcr.io/tkhq/${image}:sha-${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}" \
                "docker://ghcr.io/tkhq/${image}:${tag}"
            done
          done
