on: [pull_request]

name: PR

jobs:
  checkout_and_setup:
    name: Checkout Sources and Setup Docker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Docker
        uses: ./.github/actions/docker-setup
  test:
    name: test
    runs-on: ubuntu-latest
    needs: checkout_and_setup
    steps:
      - name: Run tests
        run: make test

  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Docker
        uses: ./.github/actions/docker-setup
      - name: Run formatting
        run: make format

  docs:
    name: docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Docker
        uses: ./.github/actions/docker-setup
      - name: Run doc generation
        run: make docs

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - name: Setup Docker
        uses: ./.github/actions/docker-setup
      - name: Run linting
        run: make lint
